###> symfony/framework-bundle ###
.env
.env.local
.env.*.local
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.env.test
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/mailer ###
.env.*.local
###< symfony/mailer ###

###> symfony/ux-turbo ###
/public/build/
###< symfony/ux-turbo ###

###> symfony/asset-mapper ###
/assets/vendor/
###< symfony/asset-mapper ###

/node_modules/
/public/bundles/
/var/
/vendor/

###> doctrine/doctrine-bundle ###
/.env.local
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
/data/
###< symfony/messenger ###

# IDE
/.idea/
/.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log