-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pidev
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activite`
--

DROP TABLE IF EXISTS `activite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activite` (
  `IDAct` int(11) NOT NULL AUTO_INCREMENT,
  `Titre` varchar(100) NOT NULL,
  `Description` varchar(1000) DEFAULT NULL,
  `TypeActivite` varchar(50) NOT NULL,
  `HeureDebut` varchar(20) NOT NULL,
  `Duree` varchar(20) NOT NULL,
  `NomAnimateur` varchar(100) NOT NULL,
  `CapaciteM` int(11) DEFAULT NULL,
  `Prix` float DEFAULT NULL,
  `Image` varchar(255) DEFAULT NULL,
  `IDEv` int(11) NOT NULL,
  PRIMARY KEY (`IDAct`),
  KEY `fk_activite_evenement` (`IDEv`),
  CONSTRAINT `fk_activite_evenement` FOREIGN KEY (`IDEv`) REFERENCES `evenement` (`IDEv`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activite`
--

LOCK TABLES `activite` WRITE;
/*!40000 ALTER TABLE `activite` DISABLE KEYS */;
/*!40000 ALTER TABLE `activite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_log`
--

DROP TABLE IF EXISTS `admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `acteur_id` int(11) DEFAULT NULL,
  `acteur_nom` varchar(255) NOT NULL,
  `acteur_role` varchar(50) NOT NULL,
  `action` varchar(50) NOT NULL,
  `cible` varchar(255) DEFAULT NULL,
  `details` longtext DEFAULT NULL,
  `ip` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_log_date` (`created_at`),
  KEY `idx_log_action` (`action`),
  KEY `FK_admin_log_acteur` (`acteur_id`),
  CONSTRAINT `FK_admin_log_acteur` FOREIGN KEY (`acteur_id`) REFERENCES `utilisateur` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=140 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_log`
--

LOCK TABLES `admin_log` WRITE;
/*!40000 ALTER TABLE `admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avis_act`
--

DROP TABLE IF EXISTS `avis_act`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `avis_act` (
  `idAv` int(11) NOT NULL AUTO_INCREMENT,
  `IDAct` int(11) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `note` int(11) NOT NULL CHECK (`note` between 1 and 5),
  `commentaire` text DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `date_avis` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`idAv`),
  KEY `IDAct` (`IDAct`),
  CONSTRAINT `avis_act_ibfk_1` FOREIGN KEY (`IDAct`) REFERENCES `activite` (`IDAct`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avis_act`
--

LOCK TABLES `avis_act` WRITE;
/*!40000 ALTER TABLE `avis_act` DISABLE KEYS */;
/*!40000 ALTER TABLE `avis_act` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avis_chambre`
--

DROP TABLE IF EXISTS `avis_chambre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `avis_chambre` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `note_confort` int(11) NOT NULL,
  `note_services` int(11) NOT NULL,
  `note_equipements` int(11) NOT NULL,
  `note_proprete` int(11) NOT NULL,
  `note_personnel` int(11) NOT NULL,
  `note_emplacement` int(11) NOT NULL,
  `note_restauration` int(11) NOT NULL,
  `note_prix_qualite` int(11) NOT NULL,
  `note_calme` int(11) NOT NULL,
  `commentaire` text DEFAULT NULL,
  `date_creation` datetime DEFAULT current_timestamp(),
  `date_modification` datetime DEFAULT NULL,
  `a_ete_modifie` tinyint(1) DEFAULT 0,
  `est_publie` tinyint(1) DEFAULT 1,
  `sentiment` varchar(20) DEFAULT NULL,
  `statut_notification` varchar(20) DEFAULT 'non_lue',
  PRIMARY KEY (`id`),
  KEY `fk_avis_chambre_utilisateur` (`utilisateur_id`),
  CONSTRAINT `fk_avis_chambre_utilisateur` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avis_chambre`
--

LOCK TABLES `avis_chambre` WRITE;
/*!40000 ALTER TABLE `avis_chambre` DISABLE KEYS */;
/*!40000 ALTER TABLE `avis_chambre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chambre`
--

DROP TABLE IF EXISTS `chambre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chambre` (
  `idCh` int(11) NOT NULL AUTO_INCREMENT,
  `num` int(11) NOT NULL,
  `type` varchar(80) NOT NULL,
  `prix_nuit` float NOT NULL CHECK (`prix_nuit` >= 0),
  `status` varchar(50) DEFAULT NULL,
  `capacite_max` int(11) NOT NULL CHECK (`capacite_max` >= 1),
  `description` text DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `idH` int(11) NOT NULL,
  `modele3D_URL` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`idCh`),
  KEY `fk_chambre_hotel` (`idH`),
  CONSTRAINT `fk_chambre_hotel` FOREIGN KEY (`idH`) REFERENCES `hotel` (`idH`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chambre`
--

LOCK TABLES `chambre` WRITE;
/*!40000 ALTER TABLE `chambre` DISABLE KEYS */;
/*!40000 ALTER TABLE `chambre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `code_promo`
--

DROP TABLE IF EXISTS `code_promo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `code_promo` (
  `idcode` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `pourcentage_reduction` int(11) NOT NULL CHECK (`pourcentage_reduction` between 1 and 60),
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `statut` varchar(20) DEFAULT 'actif' CHECK (`statut` in ('actif','expir├®')),
  PRIMARY KEY (`idcode`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `code_promo`
--

LOCK TABLES `code_promo` WRITE;
/*!40000 ALTER TABLE `code_promo` DISABLE KEYS */;
INSERT INTO `code_promo` VALUES (1,'PROMO20','20% de r├®duction sur toutes les activit├®s',20,'2026-04-01','2026-06-12','actif'),(2,'ETE2025','30% de r├®duction ├®t├®',30,'2025-07-01','2025-08-20','expir├®'),(3,'PROMO50','50% de r├®duction black friday',50,'2025-11-01','2025-11-30','expir├®');
/*!40000 ALTER TABLE `code_promo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commande`
--

DROP TABLE IF EXISTS `commande`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commande` (
  `IDCO` int(11) NOT NULL AUTO_INCREMENT,
  `Quantite` int(11) DEFAULT NULL,
  `DateC` date NOT NULL,
  `Statut` varchar(30) DEFAULT NULL,
  `Total` double DEFAULT NULL,
  `AdresseLiv` varchar(255) DEFAULT NULL,
  `CodePostal` varchar(10) DEFAULT NULL,
  `ModePaiement` varchar(50) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`IDCO`),
  KEY `fk_commande_user` (`user_id`),
  CONSTRAINT `fk_commande_user` FOREIGN KEY (`user_id`) REFERENCES `utilisateur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=149 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commande`
--

LOCK TABLES `commande` WRITE;
/*!40000 ALTER TABLE `commande` DISABLE KEYS */;
/*!40000 ALTER TABLE `commande` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commande_produit`
--

DROP TABLE IF EXISTS `commande_produit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commande_produit` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `IDCO` int(11) DEFAULT NULL,
  `IDPR` int(11) NOT NULL,
  `Quantite` int(11) NOT NULL DEFAULT 1,
  `is_panier` tinyint(1) NOT NULL DEFAULT 0,
  `user_id` int(11) DEFAULT NULL,
  `taille` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_produit` (`IDPR`),
  KEY `IDX_DF1E9E878DFCAD70` (`IDCO`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `FK_DF1E9E878DFCAD70` FOREIGN KEY (`IDCO`) REFERENCES `commande` (`IDCO`),
  CONSTRAINT `FK_DF1E9E878F15803B` FOREIGN KEY (`IDPR`) REFERENCES `produit` (`IDPR`),
  CONSTRAINT `commande_produit_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utilisateur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commande_produit`
--

LOCK TABLES `commande_produit` WRITE;
/*!40000 ALTER TABLE `commande_produit` DISABLE KEYS */;
/*!40000 ALTER TABLE `commande_produit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commentaire`
--

DROP TABLE IF EXISTS `commentaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commentaire` (
  `idC` int(11) NOT NULL AUTO_INCREMENT,
  `description` longtext NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `date_creation` date NOT NULL,
  `idP` int(11) NOT NULL,
  `id` int(11) DEFAULT NULL,
  `tags` varchar(255) DEFAULT NULL,
  `is_cancelled` tinyint(1) NOT NULL DEFAULT 0,
  `cancelled_at` datetime DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(500) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `original_description` longtext DEFAULT NULL,
  `translated_lang` varchar(5) DEFAULT NULL,
  `is_translated` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`idC`),
  KEY `IDX_67F068BCD2BDD6EA` (`idP`)
) ENGINE=InnoDB AUTO_INCREMENT=205 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commentaire`
--

LOCK TABLES `commentaire` WRITE;
/*!40000 ALTER TABLE `commentaire` DISABLE KEYS */;
/*!40000 ALTER TABLE `commentaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int(11) DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evenement`
--

DROP TABLE IF EXISTS `evenement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evenement` (
  `IDEv` int(11) NOT NULL AUTO_INCREMENT,
  `Titre` varchar(50) NOT NULL,
  `Description` varchar(1000) DEFAULT NULL,
  `DateDebut` date NOT NULL,
  `DateFin` date NOT NULL,
  `Lieu` varchar(100) NOT NULL,
  `CapaciteMax` int(11) NOT NULL CHECK (`CapaciteMax` > 0),
  `Image` varchar(200) DEFAULT NULL,
  `Organisateur` varchar(50) DEFAULT NULL,
  `id` int(11) NOT NULL,
  `Latitude` decimal(10,8) DEFAULT NULL,
  `Longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`IDEv`),
  KEY `fk_evenement_utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evenement`
--

LOCK TABLES `evenement` WRITE;
/*!40000 ALTER TABLE `evenement` DISABLE KEYS */;
/*!40000 ALTER TABLE `evenement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favori`
--

DROP TABLE IF EXISTS `favori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favori` (
  `idfav` int(11) NOT NULL AUTO_INCREMENT,
  `id` int(11) NOT NULL,
  `type` enum('evenement','activite') NOT NULL,
  `IDEv` int(11) DEFAULT NULL,
  `IDAct` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`idfav`),
  UNIQUE KEY `uq_favori` (`id`,`type`,`IDEv`,`IDAct`),
  KEY `fk_favori_ev` (`IDEv`),
  KEY `fk_favori_act` (`IDAct`),
  KEY `idx_favori_id` (`id`),
  CONSTRAINT `fk_favori_act` FOREIGN KEY (`IDAct`) REFERENCES `activite` (`IDAct`) ON DELETE CASCADE,
  CONSTRAINT `fk_favori_ev` FOREIGN KEY (`IDEv`) REFERENCES `evenement` (`IDEv`) ON DELETE CASCADE,
  CONSTRAINT `fk_favori_user` FOREIGN KEY (`id`) REFERENCES `utilisateur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favori`
--

LOCK TABLES `favori` WRITE;
/*!40000 ALTER TABLE `favori` DISABLE KEYS */;
INSERT INTO `favori` VALUES (2,36,'evenement',10,NULL,'2026-04-18 13:59:16'),(3,36,'activite',NULL,17,'2026-04-18 13:59:25'),(5,36,'evenement',9,NULL,'2026-04-19 19:41:13'),(10,54,'evenement',12,NULL,'2026-04-20 17:38:57'),(11,54,'evenement',18,NULL,'2026-04-20 17:38:59'),(13,54,'activite',NULL,11,'2026-04-20 17:39:27'),(14,54,'evenement',10,NULL,'2026-04-21 14:42:49');
/*!40000 ALTER TABLE `favori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fidelite`
--

DROP TABLE IF EXISTS `fidelite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fidelite` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_utilisateur` int(11) NOT NULL,
  `points` int(11) DEFAULT 0,
  `niveau` varchar(20) DEFAULT 'bronze',
  `total_depense` decimal(10,2) DEFAULT 0.00,
  `date_derniere_activite` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_utilisateur` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fidelite`
--

LOCK TABLES `fidelite` WRITE;
/*!40000 ALTER TABLE `fidelite` DISABLE KEYS */;
INSERT INTO `fidelite` VALUES (1,18,36815,'argent',7002.35,'2026-04-21 14:23:33','2026-04-20 16:41:15'),(2,54,22,'bronze',2525.29,'2026-04-23 17:33:04','2026-04-22 10:46:03'),(3,61,0,'bronze',0.00,NULL,'2026-04-23 13:36:28');
/*!40000 ALTER TABLE `fidelite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forum`
--

DROP TABLE IF EXISTS `forum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forum` (
  `idF` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `theme` varchar(150) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'actif',
  PRIMARY KEY (`idF`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forum`
--

LOCK TABLES `forum` WRITE;
/*!40000 ALTER TABLE `forum` DISABLE KEYS */;
INSERT INTO `forum` VALUES (26,'Tunisia Forum1','Voyage de noces','inactif'),(28,'tunis','Voyage en famille','actif'),(30,'Djerba Travel','Voyage en famille','actif'),(31,'gogo','Voyage solo','actif'),(32,'oma','Voyage solo','inactif'),(33,'sfax','Voyage entre amis','actif');
/*!40000 ALTER TABLE `forum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hotel`
--

DROP TABLE IF EXISTS `hotel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hotel` (
  `idH` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(120) NOT NULL,
  `ville` varchar(120) NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `etoiles` int(11) DEFAULT NULL CHECK (`etoiles` between 1 and 5),
  `description` text DEFAULT NULL,
  `promotion` float DEFAULT 0,
  `image` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `idUtilisateur` int(11) NOT NULL,
  PRIMARY KEY (`idH`),
  KEY `fk_hotel_utilisateur` (`idUtilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hotel`
--

LOCK TABLES `hotel` WRITE;
/*!40000 ALTER TABLE `hotel` DISABLE KEYS */;
/*!40000 ALTER TABLE `hotel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `like_publication`
--

DROP TABLE IF EXISTS `like_publication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `like_publication` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `publication_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `type` varchar(10) NOT NULL,
  `date_action` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_1CF989F738B217A7` (`publication_id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `like_publication`
--

LOCK TABLES `like_publication` WRITE;
/*!40000 ALTER TABLE `like_publication` DISABLE KEYS */;
/*!40000 ALTER TABLE `like_publication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `liste_attente`
--

DROP TABLE IF EXISTS `liste_attente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `liste_attente` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_activite` int(11) NOT NULL,
  `email_utilisateur` varchar(150) NOT NULL,
  `id_utilisateur` varchar(50) DEFAULT NULL,
  `telephone_utilisateur` varchar(20) DEFAULT NULL,
  `nom_utilisateur` varchar(100) DEFAULT NULL,
  `prenom_utilisateur` varchar(100) DEFAULT NULL,
  `date_inscription` datetime NOT NULL,
  `date_notification` datetime DEFAULT NULL,
  `date_limite_confirmation` datetime DEFAULT NULL,
  `date_confirmation` datetime DEFAULT NULL,
  `statut` varchar(20) NOT NULL DEFAULT 'en_attente',
  `token_confirmation` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_activite_utilisateur` (`id_activite`,`email_utilisateur`),
  KEY `idx_activite_statut` (`id_activite`,`statut`),
  KEY `idx_token` (`token_confirmation`),
  KEY `idx_email` (`email_utilisateur`),
  KEY `idx_statut` (`statut`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `liste_attente`
--

LOCK TABLES `liste_attente` WRITE;
/*!40000 ALTER TABLE `liste_attente` DISABLE KEYS */;
INSERT INTO `liste_attente` VALUES (9,6,'chaimabejaoui35@gmail.com','54','98830328','Bejaoui','Chaima','2026-04-23 14:06:10','2026-04-23 14:06:53','2026-04-23 16:06:53',NULL,'notifie','febc18e895a40049a08c48e7a00a8a582ddbf8ac082739aaa0ad26a2141e32ed'),(10,17,'chaimabejaoui35@gmail.com','54','+21629064402','Bejaoui','Chaima','2026-04-23 17:40:17',NULL,NULL,NULL,'en_attente','91b49cd18f9f7aedf9c959b3dbb87a1800664f39217c5aa6c2ba56d8219c317d');
/*!40000 ALTER TABLE `liste_attente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livraison`
--

DROP TABLE IF EXISTS `livraison`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `livraison` (
  `id` int(11) NOT NULL,
  `commande_id` int(11) NOT NULL,
  `tracking_number` varchar(50) NOT NULL,
  `statut` varchar(30) NOT NULL DEFAULT 'PREPAREE',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livraison`
--

LOCK TABLES `livraison` WRITE;
/*!40000 ALTER TABLE `livraison` DISABLE KEYS */;
/*!40000 ALTER TABLE `livraison` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messenger_messages`
--

DROP TABLE IF EXISTS `messenger_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messenger_messages` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `body` longtext NOT NULL,
  `headers` longtext NOT NULL,
  `queue_name` varchar(190) NOT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `available_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `delivered_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_75EA56E0FB7336F0` (`queue_name`),
  KEY `IDX_75EA56E0E3BD61CE` (`available_at`),
  KEY `IDX_75EA56E016BA31DB` (`delivered_at`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messenger_messages`
--

LOCK TABLES `messenger_messages` WRITE;
/*!40000 ALTER TABLE `messenger_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messenger_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `message` text NOT NULL,
  `voyage_id` int(11) DEFAULT NULL,
  `voyage_nom` varchar(255) DEFAULT NULL,
  `lu` tinyint(1) DEFAULT 0,
  `date_creation` datetime DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_token`
--

DROP TABLE IF EXISTS `password_reset_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_token` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_6B7BA4B65F37A13B` (`token`),
  KEY `IDX_6B7BA4B6A76ED395` (`user_id`),
  CONSTRAINT `FK_6B7BA4B6A76ED395` FOREIGN KEY (`user_id`) REFERENCES `utilisateur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_token`
--

LOCK TABLES `password_reset_token` WRITE;
/*!40000 ALTER TABLE `password_reset_token` DISABLE KEYS */;
INSERT INTO `password_reset_token` VALUES (16,60,'7a1e48eddb2d91a69a4a474f17c0afaa64291167fa3b5f3b2bda674bd34e045e','2026-04-21 20:32:11'),(17,30,'52a989e107456476e729c80ec758063c739f5a0b5ea4fd161ea36d1a5999a817','2026-04-21 20:41:01'),(33,56,'9cbb0e9eeb312609ab18d1540f0f1484d2d00c1148556479c05dd429b2b44183','2026-04-23 17:39:28');
/*!40000 ALTER TABLE `password_reset_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produit`
--

DROP TABLE IF EXISTS `produit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produit` (
  `IDPR` int(11) NOT NULL AUTO_INCREMENT,
  `Titre` varchar(100) DEFAULT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `Stock` int(11) DEFAULT NULL,
  `Poids` int(11) DEFAULT NULL,
  `Disponibilite` tinyint(1) DEFAULT 1,
  `Image` varchar(255) DEFAULT NULL,
  `Prix` float DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `Categorie` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`IDPR`),
  KEY `fk_produit_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produit`
--

LOCK TABLES `produit` WRITE;
/*!40000 ALTER TABLE `produit` DISABLE KEYS */;
/*!40000 ALTER TABLE `produit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programmes`
--

DROP TABLE IF EXISTS `programmes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `programmes` (
  `idProg` varchar(50) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `dateDebut` date NOT NULL,
  `dateFin` date NOT NULL,
  `lieu` varchar(255) NOT NULL,
  `activiteAssociee` varchar(255) NOT NULL,
  `hotel` varchar(255) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `idV` int(11) DEFAULT NULL,
  PRIMARY KEY (`idProg`),
  KEY `idV` (`idV`),
  CONSTRAINT `FK_3631FC3F3BDE73DF` FOREIGN KEY (`idV`) REFERENCES `voyages` (`idV`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programmes`
--

LOCK TABLES `programmes` WRITE;
/*!40000 ALTER TABLE `programmes` DISABLE KEYS */;
/*!40000 ALTER TABLE `programmes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `publication`
--

DROP TABLE IF EXISTS `publication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `publication` (
  `idP` int(11) NOT NULL AUTO_INCREMENT,
  `Description` varchar(200) DEFAULT NULL,
  `nom` varchar(100) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `date_creation` date NOT NULL,
  `idF` int(11) NOT NULL,
  `id` int(11) NOT NULL,
  `video` varchar(500) DEFAULT NULL,
  `vues` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`idP`),
  KEY `IDX_AF3C6779266963BB` (`idF`),
  CONSTRAINT `FK_AF3C6779266963BB` FOREIGN KEY (`idF`) REFERENCES `forum` (`idF`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `publication`
--

LOCK TABLES `publication` WRITE;
/*!40000 ALTER TABLE `publication` DISABLE KEYS */;
/*!40000 ALTER TABLE `publication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_chambre`
--

DROP TABLE IF EXISTS `reservation_chambre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservation_chambre` (
  `idRes` int(11) NOT NULL AUTO_INCREMENT,
  `idUtilisateur` int(11) NOT NULL,
  `idCh` int(11) NOT NULL,
  `dateDebut` date NOT NULL,
  `dateFin` date NOT NULL,
  `nbNuit` int(11) NOT NULL CHECK (`nbNuit` >= 1),
  `prixTotal` decimal(10,2) NOT NULL CHECK (`prixTotal` >= 0),
  `nbPersonnes` int(11) NOT NULL CHECK (`nbPersonnes` >= 1),
  `detailsPrix` text DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `statut` varchar(20) DEFAULT 'confirmee',
  `dateAnnulation` datetime DEFAULT NULL,
  `montantRembourse` decimal(10,2) DEFAULT NULL,
  `nom` varchar(100) DEFAULT NULL,
  `prenom` varchar(100) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `avis_envoye` tinyint(1) DEFAULT 0,
  `token_avis` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`idRes`),
  UNIQUE KEY `token_avis` (`token_avis`),
  KEY `fk_reservation_utilisateur` (`idUtilisateur`),
  KEY `fk_reservation_chambre` (`idCh`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_chambre`
--

LOCK TABLES `reservation_chambre` WRITE;
/*!40000 ALTER TABLE `reservation_chambre` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation_chambre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservationact`
--

DROP TABLE IF EXISTS `reservationact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservationact` (
  `IDRes` int(11) NOT NULL AUTO_INCREMENT,
  `id` int(11) NOT NULL,
  `IDAct` int(11) NOT NULL,
  `Nom` varchar(50) NOT NULL,
  `Prenom` varchar(50) NOT NULL,
  `DateReservation` date NOT NULL,
  `NombrePlaces` int(11) NOT NULL CHECK (`NombrePlaces` > 0),
  `Prix` float NOT NULL CHECK (`Prix` >= 0),
  `email` varchar(300) NOT NULL,
  `telephone` varchar(8) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'confirm├®',
  PRIMARY KEY (`IDRes`),
  KEY `fk_reservation_utilisateur` (`id`),
  KEY `fk_reservation_activite` (`IDAct`),
  KEY `idx_email` (`email`),
  KEY `idx_reservation_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservationact`
--

LOCK TABLES `reservationact` WRITE;
/*!40000 ALTER TABLE `reservationact` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservationact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservationprog`
--

DROP TABLE IF EXISTS `reservationprog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservationprog` (
  `idRP` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `prenom` varchar(50) NOT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `nbre` int(11) NOT NULL,
  `prixProg` float NOT NULL,
  `idP` varchar(50) NOT NULL,
  `dateProgramme` date NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `statutPaiement` varchar(50) DEFAULT 'EN_ATTENTE',
  `stripeSessionId` varchar(255) DEFAULT NULL,
  `user_id` int(11) DEFAULT -1,
  PRIMARY KEY (`idRP`),
  KEY `reservationprog_ibfk_1` (`idP`),
  CONSTRAINT `reservationprog_ibfk_1` FOREIGN KEY (`idP`) REFERENCES `programmes` (`idProg`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=165 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservationprog`
--

LOCK TABLES `reservationprog` WRITE;
/*!40000 ALTER TABLE `reservationprog` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservationprog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `signalement`
--

DROP TABLE IF EXISTS `signalement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `signalement` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(20) NOT NULL,
  `target_id` int(11) NOT NULL,
  `reason` varchar(50) NOT NULL,
  `date_creation` datetime NOT NULL,
  `is_treated` tinyint(1) NOT NULL DEFAULT 0,
  `treated_at` datetime DEFAULT NULL,
  `description` longtext DEFAULT NULL,
  `snotification_id` int(11) DEFAULT NULL,
  `user_reporter_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Signalements de contenus (vid├®os, photos, commentaires)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `signalement`
--

LOCK TABLES `signalement` WRITE;
/*!40000 ALTER TABLE `signalement` DISABLE KEYS */;
/*!40000 ALTER TABLE `signalement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracking_event`
--

DROP TABLE IF EXISTS `tracking_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracking_event` (
  `id` int(11) NOT NULL,
  `livraison_id` int(11) NOT NULL,
  `event_time` timestamp NOT NULL DEFAULT current_timestamp(),
  `statut` varchar(30) NOT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracking_event`
--

LOCK TABLES `tracking_event` WRITE;
/*!40000 ALTER TABLE `tracking_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracking_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `telephone` varchar(30) DEFAULT NULL,
  `date_naissance` date DEFAULT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `role` varchar(20) NOT NULL,
  `date_inscription` timestamp NOT NULL DEFAULT current_timestamp(),
  `statut` varchar(20) DEFAULT NULL,
  `niveau` varchar(50) DEFAULT NULL,
  `profile_image_url` varchar(500) DEFAULT NULL,
  `face_token` varchar(255) DEFAULT NULL,
  `face_embedding` longtext DEFAULT NULL,
  `two_factor_secret` varchar(255) DEFAULT NULL,
  `is_totp_enabled` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voyages`
--

DROP TABLE IF EXISTS `voyages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `voyages` (
  `idV` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `capacite` int(11) NOT NULL,
  `prix` float NOT NULL,
  `dateCreation` date NOT NULL DEFAULT curdate(),
  `heure` time NOT NULL DEFAULT curtime(),
  `image` varchar(255) DEFAULT NULL,
  `id_user` int(11) NOT NULL,
  PRIMARY KEY (`idV`),
  KEY `id_user` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voyages`
--

LOCK TABLES `voyages` WRITE;
/*!40000 ALTER TABLE `voyages` DISABLE KEYS */;
/*!40000 ALTER TABLE `voyages` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_voyage_prix_change` AFTER UPDATE ON `voyages` FOR EACH ROW BEGIN

    -- D├®clencher seulement si le prix a r├®ellement chang├®

    IF ABS(NEW.prix - OLD.prix) > 0.01 THEN

        SET @diff    = NEW.prix - OLD.prix;

        SET @pct     = IF(OLD.prix > 0, ROUND(ABS(@diff / OLD.prix) * 100), 0);

        SET @sens    = IF(@diff < 0, 'Ôåô Baisse', 'Ôåæ Hausse');

        SET @message = CONCAT(

            @sens, ' de prix ! ',

            NEW.nom, ' : ',

            ROUND(OLD.prix), ' DT ÔåÆ ',

            ROUND(NEW.prix), ' DT (',

            @pct, '%)'

        );



        INSERT INTO notifications (type, message, voyage_id, voyage_nom, lu, date_creation)

        VALUES ('reduction', @message, NEW.idV, NEW.nom, 0, NOW());

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-06 22:13:02
